@model MVCApplication.ViewModels.StudentAttendanceViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StudentAttendanceViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPresent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPresent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdStudent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdStudent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdClassRoom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdClassRoom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassRoomName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassRoomName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
