@model MVCApplication.ViewModels.StudentAttendanceViewModel

<div class="form-horizontal">
    <h4>StudentAttendanceViewModel</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IsPresent, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.IsPresent)
                @Html.ValidationMessageFor(model => model.IsPresent, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IdStudent, "Student", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.IdStudent, (List<SelectListItem>)ViewBag.Students, "Merci de selectioner un étudiant", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdStudent, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IdClassRoom, "ClassRoom", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.IdClassRoom, (List<SelectListItem>)ViewBag.ClassRooms, "Merci de selectioner une classe", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdClassRoom, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
